.header {
  padding: 20px 0;
  a {
    text-decoration: none;
  }
  &-logo {
    a {
      display: flex;
      align-items: center;
      margin-right: 5px;
    }
    img {
      width: 25px;
    }
  }
  &-menu-list {
    display: flex;
    justify-content: flex-end;
  }
}
